  <!--div class="navbar-fixed"-->
  <nav class="white  z-depth-0" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="javascript:switchTo('Clock')" style="padding-left: 1vw"><img src="images/AlaskaRiverTime.png" style="width: 13vw; min-width: 130px;"></a>
      <ul class="right hide-on-small-only">
        <li><a href="javascript:switchTo('Clock')">Clock</li></a></li>
        <li><a href="javascript:switchTo('Rivers')">Rivers</a></li>
        <li><a href="javascript:switchTo('Observations')">Observations</a></li>
        <li><a href="javascript:switchTo('About')">About</a></li>
        <li><a href="javascript:switchTo('Code')">Code</a></li>
	    </ul>
	    <ul class="right hide-on-med-and-up">
        <li class="right"><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">menu</i></a></li>
      </ul>
      <ul id="dropdown1" class="dropdown-content mega">
        <li><a href="Clock">Clock</a></li>
        <li><a href="Rivers">Rivers</a></li>
        <li><a href="Observations">Observations</a></li>
        <li><a href="About">About</a></li>
        <li><a href="Code">Code</a></li>
      </ul> 
    </div>
  </nav>