<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alaska River Time</title>
  <meta name="title" content="Alaska River Time - Observations">
  <meta name="description" content="Alaska River Time engages a network of glacial and spring rivers to regulate a new kind of clock, which speeds up and slows down with the waters. The clock can be used to recalibrate all aspects of life from work schedules to personal relationships.">
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <style>
    .photoEssay {
      width: 16vw;
      padding-bottom: 1vw;
    }
  </style>
</head>
<body>
    <%- include('../partials/header') %>

<div id="Observations" class="container hiddenDIV" style="position: relative;opacity: 0; top: 50px;">
<img src="images/Projection.jpg" style="width: 100%">
  <div style="font-size: 1.5rem; margin-top: 3vw; margin-bottom: 3vw;">Essays – a series of texts exploring time, rivers and environment</div>
  <table style="table-layout: fixed; width: 100%; border: 0;">
    <tr valign="top">
      <td style="border: 0; font-size: 1.2vw;"><a href="pdf/Keats - Recalibrating Civilization.pdf" target="_blank" style="color: black;"><img src="images/Keats - Recalibrating Civilization.jpg" style="height: 20vw; padding-right: 3vw;"><br><span style="font-weight: 500;">Recalibrating Civilization<BR>The Case for River Time<br></span>Jonathon Keats</a></td>
      <td style="border: 0; font-size: 1.2vw;"><a href="pdf/Decker - Principled Uncertainty.pdf" target="_blank" style="color: black;"><img src="images/Decker - Principled Uncertainty.jpg" style="height: 20vw;  padding-right: 3vw"><br><span style="font-weight: 500;">Principled Uncertainty<br>The Art &amp; Science of Jonathon Keats<br></span>Julie Decker</a></td>
      <td style="border: 0; font-size: 1.2vw;"><a href="pdf/Leggett - Denaina Perspectives.pdf" target="_blank" style="color: black;"><img src="images/Leggett - Denaina Perspectives.jpg" style="height: 20vw;  padding-right: 3vw"><br><span style="font-weight: 500;">Dena'ina perspectives on River Time<br></span>Aaron Leggett<br>Interviewed by Fancesca Du Brock</a></td>
    </tr>
  </table> 

  <div style="font-size: 1.5rem; margin-top: 3vw; margin-bottom: 3vw;">Posters – a series of speculative investigations of time</div>

  <table style="table-layout: fixed; width: 100%; border: 0;">
    <tr valign="bottom">
      <td style="border: 0;"><a href="pdf/Introduction_to_Alaska_River_Time.pdf" target="_blank"><img src="images/Introduction to Alaska River Time.png" style="height: 25vw; padding-right: 3vw;"></a></td>
      <td style="border: 0;"><a href="pdf/Clocks_and_Watches.pdf" target="_blank"><img src="images/Clock and Watches.png" style="height: 25vw;  padding-right: 3vw"></a></td>
      <td style="border: 0;"><a href="pdf/Football.pdf" target="_blank"><img src="images/Football.png" style="height: 25vw;  padding-right: 3vw"></a></td>
   </tr>
   <tr valign="bottom">
    <td style="border: 0; height: 24px;"></td>
 </tr>
    <tr valign="bottom">
      <td style="border: 0;"><a href="pdf/Scheduling.pdf" target="_blank"><img src="images/Scheduling.png" style="height: 25vw;"></a></td>
      <td style="border: 0;"><a href="pdf/Money.pdf" target="_blank"><img src="images/Money.png" style="height: 25vw; padding-right: 3vw;"></a></td>
      <td style="border: 0;"><a href="pdf/Traffic.pdf" target="_blank"><img src="images/Traffic.png" style="height: 25vw;  padding-right: 3vw"></a></td>
    </tr>
    <tr valign="bottom">
      <td style="border: 0; height: 24px;"></td>
   </tr>
    <tr valign="bottom">
      <td style="border: 0;"><a href="pdf/Legal.pdf" target="_blank"><img src="images/Legal.png" style="height: 25vw;"></a></td>
      <td style="border: 0;"><a href="pdf/School.pdf" target="_blank"><img src="images/School.png" style="height: 25vw; padding-right: 3vw;"></a></td>
      <td style="border: 0;"><a href="pdf/Concerts.pdf" target="_blank"><img src="images/Concerts.png" style="height: 25vw;  padding-right: 3vw"></a></td>
    </tr>
    </table> 
  <div style="font-size: 1.5rem; margin-top: 3vw;">Video essays – moving images of new ideas of time</div>

  <table style="table-layout: fixed; width: 100%; border: 0; margin-top: 3vw;">
    <tr valign="bottom">
      <td style="border: 0;"><a href="https://vimeo.com/420466549?autoplay=1" data-fancybox="galleryV"><img class="photoEssay" src="images/VideoEssays/RiverTime.jpg" alt="" /></a></td>
      <td style="border: 0;"><a href="https://vimeo.com/449051167?autoplay=1" data-fancybox="galleryV"><img class="photoEssay" src="images/VideoEssays/ChessGame.jpg" alt="" /></a></td>
      <td style="border: 0;"><a href="https://vimeo.com/449049882?autoplay=1" data-fancybox="galleryV"><img class="photoEssay" src="images/VideoEssays/RiverConcert.jpg" alt="" /></a></td>
      <td style="border: 0;"><a href="https://vimeo.com/449050465?autoplay=1" data-fancybox="galleryV"><img class="photoEssay" src="images/VideoEssays/Chamberliners.jpg" alt="" /></a></td>
    </tr>
    <tr valign="bottom">
       <td style="border: 0;"><a href="https://vimeo.com/460255371?autoplay=1" data-fancybox="galleryV"><img class="photoEssay" src="images/VideoEssays/JonathonKeats.jpg" alt="" /></a></td>
    </tr>
  </table>

<div style="font-size: 1.5rem; margin-top: 3vw;">Photo essays – connecting to rivers, landscape and understanding of time</div>

<div style="font-size: 1rem; margin-top: 3vw;">Ship Creek. Images by Kerry Tasker</div>
<table style="table-layout: fixed; width: 100%; border: 0;">
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 _42A9458-Pano.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 _42A9458-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 _42A9463-Pano.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 _42A9463-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 _42A9494.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 _42A9494.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 _DSC2272-Pano.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 _DSC2272-Pano.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 _DSC2282-Pano.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 _DSC2282-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 60940003.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 60940003.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1 60940004.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1 60940004.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayShipCreek/photos/1_DSC2448-Pano.jpg" data-fancybox="gallery1"><img class="photoEssay" src="images/PhotoEssayShipCreek/thumbnails/1_DSC2448-Pano.jpg" alt="" /></a></td>
  </tr>
</tr></table>

<div style="font-size: 1.1rem; margin-top: 3vw;">Campbell Creek. Images by Kerry Tasker</div>
<table style="table-layout: fixed; width: 100%; border: 0;">
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/1_DSC2509-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/1_DSC2509-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/2_DSC2475-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/2_DSC2475-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/3_DSC2480-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/3_DSC2480-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/4_DSC2514.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/4_DSC2514.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/5_DSC2520-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/5_DSC2520-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/6 DJI_0948-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/6 DJI_0948-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/7_DSC2472-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/7_DSC2472-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayCampbellCreek/photos/8 DJI_0959-Pano.jpg" data-fancybox="gallery2"><img class="photoEssay" src="images/PhotoEssayCampbellCreek/thumbnails/8 DJI_0959-Pano.jpg" alt="" /></a></td>
  </tr>
</tr></table>

<div style="font-size: 1.1rem; margin-top: 3vw;">Knik River. Images by Kerry Tasker</div>
<table style="table-layout: fixed; width: 100%; border: 0;">
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 _42A9199-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 _42A9199-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0004-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0004-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0050-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0050-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0052-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0052-Pano.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0980-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0980-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0993-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0993-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1 DJI_0997.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1 DJI_0997.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayKnikRiver/photos/1_42A9169-Pano.jpg" data-fancybox="gallery3"><img class="photoEssay" src="images/PhotoEssayKnikRiver/thumbnails/1_42A9169-Pano.jpg" alt="" /></a></td>
  </tr>
</tr></table>

<div style="font-size: 1.1rem; margin-top: 3vw;">Matanuska River. Images by Kerry Tasker</div>
<table style="table-layout: fixed; width: 100%; border: 0;">
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 _42A9395-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 _42A9395-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 _42A9408-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 _42A9408-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 _42A9441-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 _42A9441-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 _42A9498-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 _42A9498-Pano.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 DJI_0091-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 DJI_0091-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1 DJI_0096-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1 DJI_0096-Pano.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1_42A9421.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1_42A9421.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssayMatanuskaRiver/photos/1_42A9431-Pano.jpg" data-fancybox="gallery4"><img class="photoEssay" src="images/PhotoEssayMatanuskaRiver/thumbnails/1_42A9431-Pano.jpg" alt="" /></a></td>
  </tr>
</tr></table>

<div style="font-size: 1.1rem; margin-top: 3vw;">Measuring Flow. Images by Michael Conti</div>
<table style="table-layout: fixed; width: 100%; border: 0;">
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image2.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image2.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image3.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image3.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image4.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image4.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image5.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image5.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image6.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image6.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image7.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image7.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image8.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image8.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image9.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image9.jpg" alt="" /></a></td>
  </tr>
  <tr valign="bottom">
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image10.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image10.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image11.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image11.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image12.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image12.jpg" alt="" /></a></td>
    <td style="border: 0;"><a href="images/PhotoEssay1/photos/image13.jpg" data-fancybox="gallery6"><img class="photoEssay" src="images/PhotoEssay1/thumbnails/image13.jpg" alt="" /></a></td>
  </tr></table>
</div> 
  <!--  Scripts-->
  <script src="js/materialize.min.js"></script>
  <script src="js/select.js"></script>
  <script src="js/init.js"></script>

  </body>
  <script>
      currentDiv = "Observations";

      function switchTo(div) {
        fadeOutDIV(currentDiv);
        currentDiv = div;
        window.location.assign(div);
      }

      function fadeOutDIV(d) {
        document.getElementById(d).classList.remove('visibleDIV');
        document.getElementById(d).style.opacity = 0;
        document.getElementById(d).classList.add('hiddenDIV');
      }

      function fadeInDIV(d){
        toggleDisplay(d)
        document.getElementById(d).classList.remove('hiddenDIV');
        document.getElementById(d).style.opacity = 1;
        document.getElementById(d).classList.add('visibleDIV');
      }

      function toggleDisplay(d) {
        if (document.getElementById(d).style.display == 'block') {
          document.getElementById(d).style.display = 'none';
        } else {
          document.getElementById(d).style.display = 'block';
        }
      }

      function showName(clock) {
          var rn = clock.id.replace("Clock","rn")
          document.getElementById(rn).classList.toggle('riverNameActive');
      }
  
      function hideName(clock) {
          var rn = clock.id.replace("Clock","rn")
          document.getElementById(rn).classList.toggle('riverNameActive');
      }
  
      M.AutoInit();

      

jQuery(document).ready(function(){
      $(".dropdown-trigger").dropdown();
      document.getElementById("Observations").classList.remove('hiddenDIV');
      document.getElementById("Observations").style.opacity = 1;
      document.getElementById("Observations").classList.add('visibleDIV');
});

$('[data-fancybox="gallery1"]').fancybox({
  buttons : [
        "close"
      ]
});
$('[data-fancybox="gallery2"]').fancybox({
  buttons : [
        "close"
      ]
});
$('[data-fancybox="gallery3"]').fancybox({
  buttons : [
        "close"
      ]
});
$('[data-fancybox="gallery4"]').fancybox({
  buttons : [
        "close"
      ]
});
$('[data-fancybox="gallery6"]').fancybox({
  buttons : [
        "close"
      ]
});
$('[data-fancybox="galleryV"]').fancybox({
  buttons : [
        "close"
      ]
});


  $(document).click(function(){
    $('li[id^="select-options"]').on('touchend', function (e) {
        e.stopPropagation();
    });
});
  </script>
 </html>